<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
</head>
<body>
	<h1 align="center">Hello Welcome to site <br></h1>
	<br>
	<br>
	<a href="/register" style="margin-left: 43%;position: absolute;border:0px;border-radius: 2px;"><button>Register</button></a>
	<br><br>
	<a href="/login" style="border:0px;position: absolute;border-radius: 2px;margin-left: 43%;"><button>Login</button></a>
	<br><br>
	<a href="/delete_user" style="border:0px;position: absolute;border-radius: 2px;margin-left: 43%;"><button>delete user</button></a>
</body>
</html>